<% provide(:title, "Help") %>
<h1>Help</h1>


  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Logging in</div>
      <div class="collapsible-body"><p>Receive your login information (one per team).<br>
      <%= link_to "Login", login_path, :class => "waves-effect waves-teal btn-flat btn item", :id => "" %> using provided username and password.</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>The Hunt</div>
      <div class="collapsible-body"><p> 
            <%= link_to "Question Groups", rapidfire_path, :class => "waves-effect waves-teal btn-flat btn item", :id => "" %> are based on location. Choose where you are hunting and click 'Answer Questions'
            <br><br>Multiple people can be logged into the same team account, so how you work together to win is up to you.
            <br><br>If you decide to split up, remember that you have to meet back up to input all answers on one device.
      </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Teams</div>
      <div class="collapsible-body"><p><%= link_to "Teams", root_path, :class => "waves-effect waves-teal btn-flat btn item", :id => "" %> are automatically assigned to follow all other teams, so you will see live updates of how the others are doing.
      <br><br>When you submit answers, it is evaluated and auto-posted for everyone to see (&#9989 or &#10060 in the same question order).
      <br><br>Feel free to talk smack to other teams, as well as post pictures.
      
      </p></div>
    </li>
  </ul>
  
  
  
  <script>
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });      
  </script>