<% provide(:title, "Help") %>
<h1>Help</h1>

These are the instructions for the <a href = "https://cshub.ca/">CSHub</a> Scavenger Hunt app.
<p>
<ol>
<li>&#10147 Receive your login information (one per team).</li><br>
<li><%= link_to "Login", login_path, :class => "item", :id => "" %> using provided username and password.</li><br>
<li><%= link_to "Teams", root_path, :class => "item", :id => "" %>
- Your team is automatically assigned to follow all the opposing teams and receive live updates to how they are doing.</li>
<ul><li>&#10147 Everytime you answer a group of questions, they are posted here with feedback. You can also communicate with other teams and post pictures if you want.</li></ul>
<ul><li>&#10147 Correctness of questions will be displayed with a &#9989 or &#10060 in the order which they were listed.</li></ul>
<li>&#10147 You may also click on any team link to view only their progress.</li>
<p>*** Note: You must be logged in to see how other teams are doing.</p><br>
<li><%= link_to "Quiz", rapidfire_path, :class => "item", :id => "" %> - Displays a list of questions for the Scavenger Hunt arranged by location.</li>
<ul><li>&#10147 Select the location which you are near and click answer questions. </li></ul>
<ul><li>&#10147 Multiple people can be logged into the same team account, so how you work together to win is up to you.</li></ul>
<ul><li>&#10147 If you decide to split up, remember that you have to meet back up to input all answers on one device.</li></ul>
<li>&#10147 Good luck and have fun!</li>
</ol>
</p>