      <%= render 'layouts/navigation' %>
<h2>
  Questions
  <%= link_to '<i class="material-icons">add</i>'.html_safe, new_question_group_question_path(@question_group), class: "waves-effect waves-light btn-floating btn-large btn deep-orange" %>
</h2>
<hr/>

<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Question</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
  </tbody>
</table>
