<nav class="breadcrumbs z-depth-1" style="z-index: -1; background-color: rgba(227,242,253,.5); height: 20px; border-radius: 0px; margin-top: -20px;">
  <a class="unavailable" href="/rapidfire/">Quiz</a>
</nav>  

<h2>
  Question Groups
  <% if can_administer? %>
    <%= link_to '<i class="material-icons">add</i>'.html_safe, new_question_group_path, class: "waves-effect waves-light btn-floating btn-large btn deep-orange" %>
  <% end %>
</h2>
<hr/>

<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Question Group</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question_group", collection: @question_groups %>
  </tbody>
</table>
