    <% if block_given? %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
    <% else %>
    <% end %>
                    <%= yield %> 


