<footer class="footer">
  <small>
    The <a 
href="#">Scavenger Hunt
</a>
    by <a 
href="https://cshub.ca/">CSHub</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", main_app.about_path %></li>
      <li><%= link_to "Contact", main_app.contact_path %></li>
      <li><a href="https://news.ycombinator.com/news">News</a></li>
    </ul>
  </nav> </footer>
